<header>
    <div class="headervcontent" id="whitepaper">
        <div class="headerv">
            <h1>we're a new decentralized financial ecosystem made of pure energy</h1>
            <hr class="divisor">
            <p>We're uniting the FIAT WORLD with the CRYPTO WORLD with - Hybrid financial DApps - NFT 2.0 - a financial METAVERSE - software and hardware ORACLES - a NEW MULTI-CHAIN BLOCKCHAIN - so everyone can automate their finances and make money easily.</p>

            <div class="headerbottoms">
            <a href="https://github.dev/electhrons/electhrons.github.io/blob/main/upload/FINANCIAL%20PROPOSAL%20FOR%20INVESTOR%20IN%20ETHER.pdf" class="btn btn-primary btn-xl page-scroll"> dowload funding proposal</a>
            <a href="https://github.dev/electhrons/electhrons.github.io/blob/main/upload/WHITEPAPER%20ELECTHRONS.pdf" class="btn btn-primary btn-xl page-scroll">download whitepaper</a>
            </div>
        </div>
    </div>
</header>