<section class="bg-primary" id="nft">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading call">NFT 2.0 and our technology to implement them.</h2>
                <hr class="divisor">
                <p class="text-faded call">Maybe you have heard of NFT 2.0, maybe not. Essentially NFT 2.0 are upgradeable NFTs, which can integrate different formats and technologies within themselves. All stored within the same smart contract. Allowing the owner and creator of the NFT 2.0 to upgrade even after the NFT has been sold. But also an NFT 2.0 must have a certain meaning and utility. It is to use existing technology to create something more than art, we invite you to investigate a little about it.</br></br>

                    What we are implementing is precisely that, NFTs that interact with our metaverse, that allow you to earn money, do business, interact with other users within INFINITY LORMIRIAN, our metaverse. One of the fundamental differences of our NFT 2.0, with the other developments that are being created, is that we can implement them in two ways. The first of them is the most common and typical of the developments, developing a smart contract that includes within itself all the parts or layers of NFT 2.0.</br></br>
                    
                    Initially you will be able to create three types of NFT 2.0 with us. The NFT 2.0 creatures, the ones you need to interact with our metaverse, the ones made up of different layers that you can trade, buy or sell on OPENSEA. We release these layers on a regular basis, so that anyone can easily acquire them. You will also be able to create properties and means of transportation in our metaverse, which will also be NFT 2.0.</br></br>
                    
                    All the changes you make when exchanging NFTs for NFT 2.0 will be reflected in our metaverse. The NFTs are divided into categories and will allow you to build NFT 2.0 with which you can earn money within the metaverse through the realization of different types of businesses. You can read more details in our whitepaper.</br></br>

                    But most important of all, is how we will use this technology in the future. Implementing a smart contract that accepts NFTs to create something completely new and that can also be used to evolve what has been created through the implementation of public NFTs, can be used in many areas, which could reduce the limitations of smart contracts , oracles and DApps.</br></br>
                    
                    Just an example. A DApp can be created that uses NFTs, like the first computers used punched cards, to perform decentralized calculations, computers or cell phones with complete and decentralized operating systems that are easily upgradeable through the NFTs that are integrated into the system. We consider NFTs as pieces of information, which can contain an unlimited amount of data, which can be accessed through other DApps or oracles. Just imagine the possibilities.</p>
                <div class="nftbottoms">
                    <a href="#" class="btn btn-default btn-xl">Collections at opensea</a>
                    <a href="http://mintingdapp.electhrons.org/" class="btn btn-default btn-xl" target="_blank">Mint your NFT at zero cost</a> 
                    <a href="#" class="btn btn-default btn-xl">Smart Contract Catland Kitten</a> 
                    <a href="#" class="btn btn-default btn-xl">NFT DATABASE</a> 
                    <a href="electhrons.github.io/upload/NFT 2.0.pdf" class="btn btn-default btn-xl">How the DApp works to build the NFT 2.0.?</a> 
                </div>
            </div>
        </div>
    </div>
    <hr class="divisor">
</section>